<div ng-app="app">
  <div ng-controller="exampleCtrl">
    <h1>Hello!</h1>
    <li ng-repeat="message in messages">{{ message }}
      <input ng-model="message"></input>
      <p> {{ message + " is whatevah! " }} </p>


    </li>
  
  </div>
</div>
    
